@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<div class="form-container">
<h2>Login</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe">Remember me</label>
    </div>

    <button type="submit">Log in</button>
</form>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
}